.gallery__section {
  margin-bottom: 120px;
}

.gallery {
  position: relative;
}

.gallery__title {
  color: #fff;
  position: absolute;
  top: 60px;
  z-index: 1;

  font-size: 22px;
  line-height: 30.05px;
  letter-spacing: -0.03em;

}

.gallery__slides {
  position: relative;
  height: 717px;
  width: 100%;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.slide__box {
  position: relative;
  width: 100%;

}

.slide__img {
  object-fit: cover;
  width: 100%;
  height: 717px;
}


.gallery__text {
  position: absolute;
  bottom: 70px;

  width: 443px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -0.03em;
}

.gallery__controls {
  position: absolute;
  bottom: 160px;
  z-index: 1;
}

.gallery__control-prev {
  margin-right: 30px;
  width: 20px;
  height: 34px;
  background: none;
  background-image: url(../img/four-img/Vector.png);
}

.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__control-next {
  width: 20px;
  height: 34px;
  background: none;
  transform: rotate(180deg);
  background-image: url(../img/four-img/Vector.png);
}

.gallery__control-next:hover {
  opacity: 0.5;
}

/* ---------__--------------------------____------------ */


@media (max-width: 1199px) {
  .gallery__slides {
    height: 536px;
  }

  .slide__img {
    height: 536px;
  }

  .gallery__title {
    top: 80px;
    font-size: 20px;
    line-height: 27.32px;
  }



  .gallery__text {
    bottom: 60px;
    width: 374px;
    font-size: 25px;
    line-height: 34.15px;
  }


  .gallery__controls {
    bottom: 150px;
  }

  .gallery__control-prev {
    font-size: 40px;
  }

  .gallery__control-next {
    font-size: 40px;
  }
}




@media (max-width: 767px) {
  .gallery__slides {
    height: 408px;
  }

  .slide__img {
    height: 408px;
  }

  .gallery__title {
    top: 30px;
    font-size: 14px;
    line-height: 19.12px;
    
  }



  .gallery__text {
    bottom: 60px;
    width: 290px;
    font-size: 19.01px;
    line-height: 25.97px;
  }


  .gallery__controls {
    bottom: 50%;
    display: flex;
    width: calc(100% - 15px);
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }

  .gallery__control-prev {
    font-size: 40px;
  }

  .gallery__control-next {
    font-size: 40px;
  }

}