.main__6 {
  height: 390px;
}

.main__6-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__6-flex {
  display: flex;
  flex-direction: row;
  gap: 110px;
}



.main__6-link {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  display: block;
  transition: all 0.3s;
}


.main__6-link:hover {
  color: grey;
  border-bottom: 2px solid grey;
  /* text-decoration: underline;
  text-underline-offset: 8px; */
}

.link-tell {
  margin-bottom: 30px;
  width: 472px;
}

.link-tell::before {
  content: '';
  margin-bottom: 26px;
  display: block;
  background-image: url(../img/img-six/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: -5px;
  width: 24px;
  height: 24px;
}

.link-mail {
  margin-bottom: 160px;
  width: 412px;

}

.link-mail::before {
  content: '';
  margin-bottom: 26px;
  display: block;
  background-image: url(../img/img-six/vectorcop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: -5px;
  width: 24px;
  height: 24px;
}

@media (max-width: 1199px) {

  .main__6-title {
    font-size: 18px;
    line-height: 24.59px;
  }

  .main__6-flex {
    gap: 115px;
  }

  .main__6-link {
    font-size: 45px;
    line-height: 60px;
  }

  .link-tell {
    width: 344px;
  }

  .link-mail {
    width: 307px;
  }
}

@media (max-width: 767px) {
  .main__6-title {
    font-size: 18px;
    line-height: 24.59px;
  }

  .main__6-flex {
    gap: 20px;
    flex-direction: column;
  }

  .main__6-link {
    font-size: 45px;
    line-height: 60px;
  }

  .link-tell {
    width: 344px;
  }

  .link-mail {
    width: 307px;
  }
}