.project {
  margin-bottom: 150px;
}

.project-title {
  margin: 0 0 35px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.project-info-text {
  margin: 17px 0 15px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -1px;
}

.project-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #AD1818;
}

.project-contant-item {
  margin-bottom: 88px;
}

.project-picture {
  width: 100%;
  height: 450px;
}

.project-btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 153px;
  font-size: 30px;
  font-weight: 400;
  color: #AD1818;
  background-color: transparent;
  border: 2px solid #AD1818;
  border-radius: 5px;
  transition: all 0.3s;
}

.project-btn:hover {
  background-color: #AD1818;
  color: #fff;
}

/* ------------------adaptive---------------------- */

@media (max-width: 1199px) {

  .project-contant-item {
    margin-bottom: 78px;
  }

  .project-picture {
    height: 450px;
    object-fit: cover;
    object-position: center;
  }

  .project-info-text {
    font-size: 25px;
    line-height: 34.15px;
  }

  .project-link {
    font-size: 20px;
    line-height: 27.32px;
  }

  .project-btn {
    font-size: 30px;
    line-height: 40.98px;

  }

}

/* ------------------adaptive---------------------- */

@media (max-width: 767px) {

  .project-contant-item {
    margin-bottom: 47px;
  }

  .project-picture {
    /* height: 250px; */
    object-fit: cover;
    object-position: center;
  }

  .project-info-text {
    font-size: 18px;
    line-height: 24.59px;
  }

  .project-link {
    font-size: 16px;
    line-height: 21.86px;
  }

  .project-btn {
    height: 100px;
    font-size: 22px;
    line-height: 30.05px;
  }

}