.reviews {
  margin-bottom: 150px;
}

.reviews-title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.reviews-item {
  display: block;
  width: calc(50% - 35px);
}
.reviews-item:last-child {
  width: 861px;
}


.reviews-title-two {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61.47px;
  letter-spacing: -0.03em;
}

.reviews-comm-one {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
  letter-spacing: -0.03em;
  text-align: left;
}

.reviews-comm-two {
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
  letter-spacing: -0.03em;
  text-align: left;
}

@media (max-width: 1199px) {
  
  .reviews-list {
    row-gap: 80px;
  }

  .reviews-title {
    margin-bottom: 25px;
  }
.reviews-title-two {
  font-size: 35px;
  line-height: 47.81px;
}

  .reviews-item {
    width: calc(50% - 15px);
  }

  .reviews-comm-one {
    font-size: 22px;
    line-height: 30.05px;
    
  }

  .reviews-comm-two {
    font-size: 22px;
    line-height: 30.05px;
  }
}

@media (max-width: 767px) {

  .reviews-list {
    flex-direction: column;
  }

  .reviews-item {
    width: 100%;
  }
  .reviews-item:last-child {
    width: 100%;
  }

.reviews-title-two {
  font-size: 25px;
  line-height: 34.15px;
}
.reviews-comm-one {
  font-size: 16px;
  line-height: 21.86px;
}
.reviews-comm-two {
  font-size: 16px;
  line-height: 21.86px;
}
}