.services {
  margin-bottom: 150px;
  background-color: #121212;
  padding-top: 151px;
  padding-bottom: 151px;
}

.services-title {
  margin-bottom: 35px;
  color: #fff;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
}



.services-text-comment {
  margin: 25px 0 45px 0;
  color: #fff;
  font-size: 30px;
  line-height: 40.98px;
  letter-spacing: -0.03em;
}

.services-text-inset {
  position: absolute;
  top: 31px;
  left: 32px;
  color: #fff;
  width: 175px;
  height: 40px;
  background-color: #AD1818;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;


}


.services-contant {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  width: calc(50% - 5px);
  /* gap: 10px; */
}

.services-item-box {
  position: relative;
  display: block;
  /* height: 100%; */
}

.services-item-box img {
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}


.services-btn {
  width: 100%;
  height: 153px;
  font-size: 30px;
  font-weight: 400;
  color: #AD1818;
  background-color: transparent;
  border: 2px solid #AD1818;
  border-radius: 5px;
  transition: all 0.3s;
}

.services-btn:hover {
  background-color: #AD1818;
  color: #fff;
}

@media (max-width: 1199px) {

  .services-text-inset {
    font-size: 20px;
    line-height: 27.32px;
  }

  .services-text-comment {
    font-size: 25px;
    line-height: 34.15px;
  }

  .services-contant {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {

  .services-item {
    width: 100%;
  }


  .services-contant {
    margin-bottom: 60px;
    flex-direction: column;
  }

  .services-text-comment {
    margin: 10px 0 25px 0;
    font-size: 18px;
    line-height: 24.59px;
  }

  .services-text-inset {
    top: 24px;
    left: 22px;
    font-size: 14px;
    line-height: 19.12px;

  }
  .services-btn {
  font-size: 22px;
  line-height: 30.05px;
  }

  .services-btn {
    height: 100px;
  }
}