@font-face {
  src: url(../fonts/Manrope-Regular.ttf);
  font-family: "Manrope-Regular.ttf";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope-Regular.ttf";
  font-size: normal;
  font-weight: normal;
}

/* body {
  font-family: "Manrope", sans-serif;
} */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------adaptive---------- */

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
  }

}

/* ------------------adaptive---------------------- */

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 13px 0 13px;
  }

}